<ConfigFile>
	<User name=""/>
	<Resolution x="1280" y="720"/>
	<ScreenSize x="1280" y="720"/>
	<Fullscreen enabled="no"/>
	<Font red="0" green="0" blue="0" size="30"/>
	<Chars>
		<char name="Triangle"/>
	</Chars>
	<Stages>
      <stage name="Training1"/>
      <stage name="Training2"/>
      <stage name="Training3"/>
      <stage name="Training4"/>
      <stage name="Training5"/>
      <stage name="Training6"/>
      <stage name="A"/>
      <stage name="B"/>
      <stage name="C"/>
      <stage name="D"/>
      <stage name="E"/>
      <stage name="F"/>
      <stage name="A1"/>
      <stage name="A2"/>
      <stage name="A3"/>
      <stage name="B1"/>
      <stage name="B2"/>
      <stage name="B3"/>
      <stage name="C1"/>
      <stage name="C2"/>
      <stage name="C3"/>
      <stage name="D1"/>
      <stage name="D2"/>
      <stage name="D3"/>
      <stage name="E1"/>
      <stage name="E2"/>
      <stage name="E3"/>
      <stage name="F1"/>
      <stage name="F2"/>
      <stage name="F3"/>
      <stage name="X1"/>
      <stage name="X2"/>
      <stage name="X3"/>
      <stage name="X4"/>
      <stage name="X5"/>
      <stage name="X6"/>
      <stage name="X7"/>
      <stage name="X8"/>
      <stage name="X9"/>
      <stage name="X10"/>
      <stage name="X11"/>
      <stage name="X12"/>
      <stage name="X13"/>
      <stage name="X14"/>
      <stage name="X15"/>
      <stage name="X16"/>
      <stage name="X17"/>
      <stage name="X18"/>
      <stage name="X19"/>
      <stage name="X20"/>
      <stage name="X21"/>
      <stage name="X22"/>
      <stage name="X23"/>
      <stage name="X24"/>
      <stage name="Z1"/>
      <stage name="Z2"/>
      <stage name="Z3"/>
      <stage name="Z4"/>
      <stage name="Z5"/>
	</Stages>
  <Arcade>
    <Path name="Easy">
      <stage name="Stagea"/>
      <stage name="Stageb"/>
      <stage name="Stagec"/>
      <stage name="Staged"/>
      <stage name="Stagee"/>
      <stage name="Stagef"/>
      <stage name="Stageg"/>
      <stage name="Stageh"/>
      <stage name="StageA"/>
      <stage name="StageB"/>
      <stage name="StageC"/>
      <stage name="StageD"/>
      <stage name="StageE"/>
      <stage name="StageX"/>
      <stage name="StageY"/>
      <stage name="StageZ"/>
      <stage name="Stage6"/>
<!--
      <stage name="Stage2"/>
      <stage name="Stage3"/>
      <stage name="Stage4"/>
      <stage name="Stage5"/>
      <stage name="Stage6"/>
      <stage name="Stage7"/>
-->
    </Path>
    <Path name="Normal">
      <stage name="Stage1"/>
      <stage name="Stage2"/>
      <stage name="Stage3"/>
      <stage name="Stage4"/>
      <stage name="Stage5"/>
      <stage name="Stage6"/>
    </Path>
  </Arcade>
	<YouLose x="0" y="0" animation_velocity="5" sound="misc/lose.wav">
		<sprite path="misc/you lose/1.png"/>
	</YouLose>
	<YouWin x="0" y="0" animation_velocity="5" sound="misc/win.wav">
		<sprite path="misc/you win/1.png"/>
	</YouWin>
</ConfigFile>
